* {
  margin: 0;
  padding: 0;
  box-sizing: border-boxs;
}

.h2 {
  text-align: center;
  margin: 15px 0;
}

.tableWrapper {
  margin: 0 100px;
  height: 74vh;
  overflow-y: scroll;
}

.footerWrapper {
  margin: 0 100px;
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.select {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 14px;
  margin-left: auto;
}

.pagination {
  margin-top: 0;
  margin-right: 25px;
}
